node_modules
# Build
/dist/
/build/
# Environment
.env
.env.*
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# VSCode
.vscode/
# Prisma
prisma/dev.db
prisma/*.sqlite
# Test coverage
coverage/
# System
.DS_Store
Thumbs.db
# GitHub Actions
.github/
# Others
*.local
*.cache
*.tgz
pizza-express-insomnia.json
